services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: src
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env

  worker:
    build: src
    # Запускаємо Celery worker. Вказуємо шлях до екземпляра celery (app) всередині tasks або main
    command: celery -A src.utils.tasks.celery_app worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    env_file:
      - .env